{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteFlow</title>
    <link rel="stylesheet" href="{% static 'noteflow.css' %}">
</head>
<body>
    <header>
        <h1 style="color: #fff;">NF</h1>
        <div>
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Blog</a>
        </div>
        <a href="#" class="login">Login/Sign Up</a>
    </header>

    <div class="intro">
        <h2>Never Lose A <br> Brilliant Idea Again</h2>
        <p>Your Story deseverse to be written</p>
        <a href="#">Begin Your Journey Today</a>
    </div>

    <div class="extra-info">
        <div class="row">
            <div class="text">
                <strong>Seamless Writting</strong>
                <br>
               <p>"Focus on your words, not the tools." Distraction-free editor with autosave so your ideas are always safe.</p>
            </div>
            <img src="" alt="">
        </div>
        <div class="row">
            <img src="" alt="">
            <div class="text">
                <strong>Organised Chapters</strong>
                <br>
               <p>"Structure your story with ease." Create, rearrange, and edit chapters in one place.</p>
            </div>
        </div>

        <div class="row">
            <div class="text">
                <strong>Cloud Sync</strong>
                <br>
               <p>"Your stories, everywhere." Access your work from any device without missing a beat.</p>
            </div>
            <img src="" alt="">
        </div>
    </div>

    <div class="extra-links">
        <div class="about">
            <h4>About Noteflow</h4>
            <p> From your first spark of inspiration to your finished masterpiece, we make sure nothing gets in the way of your flow.</p>
        </div>
        <div class="more-info">
            <a href="#">About</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
        </div>
        <div class="support">
            <a href="#">FAQ</a>
            <a href="#">Blog</a>
            <a href="#">Tutorial</a>
        </div>
    </div>
</body>
</html>