{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>NoteFlow</title>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'noteflow.css' %}" />
  </head>
  <body>
    <div class="loader" id="loader">
      <div class="book">
        <div class="page"></div>
        <div class="page page2"></div>
      </div>
    </div>
    
    <header>
      <h1 style="color: #fff">NF</h1>
      <div>
        <a href="#">Home</a>
        <a href="#">About us</a>
        <a href="#">Blog</a>
      </div>
      <a href="{% url 'recent-notes' %}" class="login">Login/Sign Up</a>
    </header>

    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="{% static 'images/aaron-burden-AXqMy8MSSdk-unsplash.jpg' %}"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="{% static 'images/jan-kahanek-g3O5ZtRk2E4-unsplash.jpg' %}"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img src="{% static 'images/book.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <img
            src="{% static 'images/etienne-girardet-EP6_VZhzXM8-unsplash.jpg' %}"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img src="{% static 'images/img img-5.jpg' %}" alt="" />
        </div>
      </div>
      <div class="intro-text">
        <h2>
          Never Lose A <br />
          Brilliant Idea Again
        </h2>
        <p>Your Story deseverse to be written</p>
        <a href="{% url 'recent-notes' %}">Begin Your Journey Today</a>
      </div>
      <div class="scrolldown" id="scrolldwn">
        <div class="chevrons">
          <div class="chevrondown"></div>
          <div class="chevrondown"></div>
        </div>
      </div>
    </div>

    <div class="extra-info" id="tar">
      <div class="row">
        <div class="text" id="text1">
          <strong id="sub1">Seamless Writting</strong>
          <br />
          <p>
            "Focus on your words, not the tools." Distraction-free editor with
            autosave so your ideas are always safe.
          </p>
        </div>
        <img
          src="{% static 'images/aaron-burden-y02jEX_B0O0-unsplash.jpg' %}"
          alt=""
        />
      </div>
      <div class="row">
        <img
          src="{% static 'images/dix-sept-idiRDLFPH6A-unsplash.jpg' %}"
          alt=""
        />
        <div class="text" id="text2">
          <strong id="sub2">Organised Chapters</strong>
          <br />
          <p>
            "Structure your story with ease." Create, rearrange, and edit
            chapters in one place.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="text" id="text3">
          <strong id="sub3">Cloud Sync</strong>
          <br />
          <p>
            "Your stories, everywhere." Access your work from any device without
            missing a beat.
          </p>
        </div>
        <img
          src="{% static 'images/f8bfc46208b1b6db2502b5a3800be22b.jpg' %}"
          alt=""
        />
      </div>
    </div>

    <div class="extra-links">
      <div>
        <h4>About Noteflow</h4>
        <p>
          From your first spark of inspiration to your finished masterpiece, we
          make sure nothing gets in the way of your flow.
        </p>
      </div>
      <div>
        <h4>More info</h4>
        <a href="#">About</a>
        <a href="#">Pricing</a>
        <a href="#">Contact</a>
      </div>
      <div>
        <h4>Support & resources</h4>
        <a href="#">FAQ</a>
        <a href="#">Blog</a>
        <a href="#">Tutorial</a>
      </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 2500,
          clickable: true,
        },
      });
    </script>
    <script>
      document
        .getElementById("scrolldwn")
        .addEventListener("click", function () {
          window.scrollTo({
            top: 700,
            left: 0,
            behavior: "smooth",
          });
        });
      F;
    </script>

    <!-- loadscreen -->

    <script>
      window.addEventListener("load", function () {
        const loader = document.getElementById("loader");
        loader.classList.add("hidden");
        loader.addEventListener("transitionend", function () {
          loader.remove();
        });
      });
      setTimeout(() => {
        if (document.body.contains(loader)) {
          loader.remove();
        }
      }, 8000);
    </script>
  </body>
</html>
