{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recent.css' %}">
    <script src="https://kit.fontawesome.com/483be17929.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="nav-icon">
            <button class="nav-btn" onclick="menuToggle()">
                <i class="fa-solid fa-bars"></i>
            </button>
            <h1>NF</h1>
        </div>
        <form class="form">
            <label for="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input required="text" class="input" type="text" placeholder="Searh notes">
                <div class="search-bg" id="searchbg"></div>
                <button type="reset" class="search-cancel">
                    <i class="fa-solid fa-x"></i>
                </button>
            </label>
        </form>
        <div class="account">
            <button class="profile">
                <i class="fa-solid fa-circle-user" id="user"></i>
            </button>
        </div>
    </header>

    <nav id="nav-menu">
        <div class="menu-item">
            <i class="fa-solid fa-house"></i>
            <a href="">Home</a>
        </div>
        <div class="menu-item">
            <i class="fa-solid fa-user"></i>
            <a href="">Create</a>
        </div>
        <div class="menu-item">
            <i class="fa-regular fa-circle-question"></i>
            <a href="">FAQ</a>
        </div>
        <div class="menu-item" id="logout">
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="">Logout</a>
        </div>
        <button class="close-nav" onclick="menuToggle()">
            <i class="fa-solid fa-x"></i>
        </button>
    </nav>
        
    <main>
        <h3 class="recent-title">RECENT NOTES</h3>
        <div class="recent-notes">
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
            <div class="notes">
                <div class="preview"><h2>Preview</h2></div>
                <div class="note-title"><h4>Title</h4></div>
            </div>
        </div>
        <div class="create">
            <i class="fa-solid fa-file-circle-plus" class="create-icon"></i>
        </div>
    </main>

    <script>
        function menuToggle(){
            let menu = document.getElementById("nav-menu")
            if (menu.style.left === "-200px"){
                menu.style.left = 0
            } else {
                menu.style.left = "-200px"
            }
        }
    </script>
</body>
</html>
