{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recent.css' %}">
    <script src="https://kit.fontawesome.com/483be17929.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
<!-- navbar -->
    <header>
        <div class="nav-icon">
            <button class="nav-btn" onclick="menuToggle()">
                <i class="fa-solid fa-bars"></i>
            </button>
            <h1>NF</h1>
        </div>
        <form class="form">
            <label for="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input required="text" class="input" type="text" placeholder="Searh notes">
                <div class="search-bg" id="searchbg"></div>
                <button type="reset" class="search-cancel">
                    <i class="fa-solid fa-x"></i>
                </button>
            </label>
        </form>
        <div class="account">
            <button class="profile">
                <a href="{% url 'account' %}"><i class="fa-solid fa-circle-user" id="user"></i></a> 
            </button>
        </div>
    </header>
<!-- sidebar -->
    <nav id="nav-menu">
        <a href="" class="menu-item"><i class="fa-solid fa-house"></i>Home</a>
        <a href="{% url 'create-note' %}" class="menu-item"><i class="fa-solid fa-user"></i>Create</a>
        <a href="" class="menu-item"><i class="fa-regular fa-circle-question"></i>FAQ</a>
        <a href="" class="menu-item" style="margin-top: auto;"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
    </nav>
<!-- recent notes -->
    <main>
        <h3 class="recent-title">RECENT NOTES</h3>
        {% for note in notes %}
            <a href="{% url 'note-detail' note.slug %}" style="text-decoration: none; color: black;">
                <div style="color: rgb(0, 0, 165);">{{ note.title }} </div>
            </a>
            <div>{{ note.snippet }}</div>
            <div style="color: rgb(61, 61, 163);">created {{ note.created_at }}</div>
            <br>
        {% empty %}
            <p>NO NOTES ADDED YET</p>
        {% endfor %}
    </main>
<!-- collapse sidebar -->
    <script>
        const menu = document.getElementById("nav-menu")
        menuBtn = document.querySelector(".nav-btn")
        function menuToggle(){
            let currentState = window.getComputedStyle(menu).left
            menu.style.left = (currentState === "-200px") ? "0px" : "-200px";
        }
        document.addEventListener("click", (event) => {
            let currentState = window.getComputedStyle(menu).left
            if (!menu.contains(event.target) && currentState === "0px"){
                menuToggle()
            }
        })
    </script>
</body>
</html>
