/* font */
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body{
    position: absolute;
    top: 3rem;
    font-family: winky rough;

}
/* navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 2.5rem;

}
#bars{
    position: fixed;
    left: 1.5%;
    font-size: 1.5rem;
}
#user{
    position: fixed;
    right: 4%;
    font-size: 1.5rem;
}

nav h1{
    position: fixed;
    left: 15%;
}
.form{
    --inputTextColor: #fff;
    --inputBgColor: #adadad;
    --focusInputBgColor: transparent;
    --textColor: black;
    --activeColor: #dedede;
    --inputWidth: 2rem;
    --inlinePaddingOfInput: .5rem;
    --gap: .9rem;
}
.form{
    display: flex;
    align-items: center;
    width: 50%;
    position: absolute;
    height: 2em;
    left: 30%;
}
.searchbg{
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--inputBgColor);
    border-radius: .5rem;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(4, 4, 4, 0.404) 0 1px 4px;
}

.form label{
    width: 100%;
    padding: .8em;
    height: 100%;
    padding-inline: var(--inlinePaddingOfInput);
    display: flex;
    align-items: center;
}
.searchicon{
    position: absolute;
    left: var(--inlinePaddingOfInput);
}
.searchicon i{
    font-size: 1.2em;
    color: var(--textColor);
}
.input{
    border: none;
    width: 100%;
    background: none;
    margin-inline: 2em;
}
.input:focus{
    outline: none;
}
.input:focus ~ .searchbg{
    border: 1px solid var(--activeColor);
    background-color: var(--inputTextColor);
}
.input:focus ~ .searchicon i{
    color: var(--activeColor);
}