/* font */
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body{
    position: relative;
    top: 3rem;
    font-family: sans-serif;
    box-sizing: content-box;
    width: 100%;
    margin-inline: 0;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 2.5rem;
    background: transparent;
    backdrop-filter: blur(30px);
    z-index: 100;
}
#bars{
    position: fixed;
    left: 1.5%;
    font-size: 1.5rem;
}
#user{
    position: fixed;
    right: 1.5cap;
    font-size: 1.5rem;
}

nav h1{
    position: fixed;
    left: 15%;
}
/* search bar */
.form{
    --inputTextColor: #fff;
    --inputBgColor: #adadad;
    --focusInputBgColor: transparent;
    --textColor: black;
    --activeColor: #dedede;
    --inputWidth: 2rem;
    --inlinePaddingOfInput: 1rem;
    --gap: .9rem;
}
.form{
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    height: 2em;
    left: 5%;
}
.searchbg{
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--inputBgColor);
    border-radius: .5rem;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(4, 4, 4, 0.404) 0 1px 4px;
}

.form label{
    width: 100%;
    padding: .8em;
    height: 100%;
    padding-inline: var(--inlinePaddingOfInput);
    display: flex;
    align-items: center;
}
/* search box */
.searchicon{
    position: absolute;
    left: var(--gap);
}
.searchicon i{
    font-size: 1.2em;
    color: var(--textColor);
}
.close-btn {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: black;
    position: absolute;
    right: calc(var(--inlinePaddingOfInput) - var(--gap) + .4em);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: .5s;
}

.input{
    border: none;
    width: 100%;
    background: none;
    margin-inline: 2em;
}
.input:focus{
    outline: none;
}
.input:focus ~ .searchbg{
    border: 1px solid var(--activeColor);
    background-color: var(--inputTextColor);
}
.input:focus ~ .searchicon i{
    color: var(--activeColor);
}
.form input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}
/* new note */
.new-note{
    width: calc(100% - 5rem);
    border-bottom: .3em solid black;
    position: relative;
    left: 2.5rem;
    height: 15rem;
    display: flex;
    justify-content: center;
}
.new-note i{
    font-size: 8em;
    align-self: center;
}
/* recent notes */
.recent{
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}
.recent h2{
    color: #676767;
    position: absolute;
    top: 0;
}

#face{
    width: 10rem;
    height: 10rem;
}

.nothing{
    display: none;  /*Set displat to none if there are no items, otherwise flex */
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}
.card{
    background: #8f8f8f;
    width: 20rem;
    height: 10rem;
}
.card-container{
    margin: 5rem 8rem;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: .5rem;
}

