
body{
    background-image: url("images/cup-coffee-with-headphones-notebook-dark-background.jpg");
    background-color: rgb(3, 3, 3, 0.5);
    background-size: cover;
}

div{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-1%, -50%);
    text-align: center;
    border: solid;
    border-color: white;
}

h1{
    color: #800000;
    font-size: 9em;
    border: solid;
    border-color: white;
}

p{
    border: solid;
    font-size: 2em;
    color: white;
    border-color: white;
}
