
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    width: 100%;
    min-height: 10vh;
    justify-content: center;
    background: linear-gradient(45deg, #242F36, #161d2c);
}

.container{
    top: 150px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    transition: 0.4s ease;
}

.toggleBox{
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.icon{
    position: absolute;
    height: inherit;
    
}
