@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: itim;
}

:root{
    --margin-inline: 5vw;
    --main-color: black;
    --title-color: #222;
    --link-color: #2a3139;
    --title-size: 20px;
    --paragraph-size: 15px;
    --link-size: 12px;
    --padding: 10px;
    --header-height: 60px;
    --padding: 15px 10px;
}

body{
    margin-inline: var(--margin-inline);
    margin-top: var(--header-height);
}
a{
    color: var(--link-color);
    font-size: var(--paragraph-size);
    text-decoration: none;
}

header{
    width: calc(100% - calc(var(--margin-inline) * 2));
    position: fixed;
    left: var(--margin-inline);  
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    border-bottom: 1px solid black;
}
header div{
    display: flex;
    gap: 20px;
}

