@import url("https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: itim;
}

:root {
  --margin-inline: 10vw;
  --main-color: black;
  --title-color: #222;
  --link-color: #2e4259;
  --strong-color: #212f42;
  --title-size: 2rem;
  --paragraph-size: 15px;
  --link-size: 12px;
  --padding: 10px;
  --header-height: 60px;
  --padding: 15px 10px;
}

header {
  width: calc(100% - 40px);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(30px);
  padding-inline: 20px;
  z-index: 100;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

header a {
  color: #ffffff;
  font-size: var(--paragraph-size);
  text-align: center;
  text-decoration: none;
  position: relative;
  height: 20px;
  width: 100px;
}

header a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: #fff;
  width: 0;
  transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
header a:hover::before{
  width: 100%;
}

.intro-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-text h2 {
  text-wrap: nowrap;
  font-size: 8vw;
  text-align: center;
}
.intro-text a {
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  background-color: #000000;
  padding: var(--padding);
  border-radius: 30px;
  transition: 0.1s ease;
}
.intro-text a:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
  transform: scale(1.05);
}

.intro-text p {
  margin-top: -6%;
}

.swiper {
  width: 100%;
  height: 100vh;
}
.swiper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrolldown {
  --color: rgb(255, 255, 255);
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translatex(-50%);
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
  z-index: 10;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #98989866;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.extra-info {
  margin-inline: var(--margin-inline);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: var(--padding);
  gap: 90px;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  width: 100%;
  height: 200px;
}
.text {
  width: 60%;
  height: 110%;
  padding: var(--padding);
}
.row img {
  width: 30%;
  height: 120%;
  background-color: #202020;
}

.extra-links {
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  padding: 0 0 20px 0;
  gap: 20px;
  margin: 200px var(--margin-inline) 0 var(--margin-inline);
  border-top: 1px solid #1f203a;
}
.extra-links a {
  color: var(--link-color);
  text-decoration: none;
  font-size: small;
  margin-top: auto;
  }

.extra-links a:hover{
  color: #000;
  text-decoration: underline;
}

.extra-links div {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
h4 {
  text-wrap: nowrap;
}

strong {
  font-size: var(--title-size);
  text-wrap: nowrap;
}

#sub1 {
  color: #529034;
}

#sub2 {
  color: #0fb1c9;
}

#sub3 {
  color: #df7d7d;
}

#text1{
  background: radial-gradient(at top left,#dffed0 2%,transparent);
}

#text2{
  background: radial-gradient(at top right,#d4eaff 2%,transparent);
}

#text3{
  background: radial-gradient(at top left,#ffe3e3 2%,transparent);
}