@import url("https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: itim;
}

:root {
  --margin-inline: 20vw;
  --main-color: black;
  --title-color: #222;
  --link-color: #2e4259;
  --strong-color: #212f42;
  --title-size: 2rem;
  --paragraph-size: 15px;
  --link-size: 12px;
  --padding: 20px;
  --header-height: 60px;
  --padding: 15px 10px;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  --book-color: #000;
  --book-cover-color: #506c86;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  background: #fff;
  transition: 0.2s ease-out;
}

.book {
  width: 150px;
  height: 13px;
  background-color: var(--book-color);
  border-bottom: 2px solid var(--book-cover-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.page {
  width: 50%;
  height: 2px;
  background-color: var(--book-color);
  animation: paging 0.7s ease-out infinite;
  transform-origin: left;
}

.page2 {
  width: 50%;
  height: 2px;
  background-color: var(--book-color);
  animation: paging 0.8s ease-out infinite;
  transform-origin: left;
  position: absolute;
}

.hidden {
  display: none;
}

@keyframes paging {
  10% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-180deg);
  }
}

header {
  width: calc(100% - 40px);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(30px);
  padding-inline: 20px;
  z-index: 100;
}

.dropdown {
  display: flex;
  align-items: center;
}
.dropdown i {
  visibility: hidden;
}
.drop-links {
  display: flex;
  gap: 20px;
}
header i {
  display: none;
}

header a {
  color: #ffffff;
  font-size: var(--paragraph-size);
  text-align: center;
  text-decoration: none;
  position: relative;
  height: 20px;
  width: 100px;
}

header a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: #fff;
  width: 0;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (hover: hover) and (pointer: fine) {
  header a:hover::before {
    width: 100%;
  }
}

.intro-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text h2 {
  text-wrap: nowrap;
  font-size: 8vw;
  text-align: center;
}

.intro-text a {
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  background-color: #000000;
  padding: var(--padding);
  border-radius: 30px;
  transition: 0.1s ease;
}
.intro-text a:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
  transform: scale(1.05);
}

.intro-text p {
  margin-top: -6%;
}

.swiper {
  width: 100%;
  height: 100vh;
}
.swiper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrolldown {
  --color: rgb(255, 255, 255);
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translatex(-50%);
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
  z-index: 10;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #98989866;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.extra-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: var(--padding);
  gap: 120px;
}

.row {
  padding-inline: var(--margin-inline);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  height: 250px;
  overflow: hidden;
}

.text {
  width: 60%;
  height: 100%;
  padding: 50px 100px;
  position: relative;
  text-wrap: wrap;
}

.row img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

strong {
  font-size: var(--title-size);
  text-wrap: nowrap;
}

#first, #second, #third, #fourth {
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#first,
#second {
  left: 5vw;
  animation: float 5s ease-in-out infinite alternate, spin 40s linear infinite;
}

#third,
#fourth {
  right: 5vw;
  animation: float-reverse 5s ease-in-out infinite alternate, spin-reverse 40s linear infinite;
}

#first,
#third {
  top: 0;
}

#second,
#fourth {
  bottom: 0;
}

@keyframes float {
  0%{
    translate: 0 0 ;
  }

  100%{
    translate: 30px;
  }
}

@keyframes spin {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}

@keyframes float-reverse {
  0%{
    translate: 0 0 ;
  }

  100%{
    translate: -30px;
  }
}

@keyframes spin-reverse {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: -360deg;
  }
}

#sub1 {
  color: #529034;
}

#sub2 {
  color: #0fb1c9;
}

#sub3 {
  color: #df7d7d;
}

#text1 {
  background: radial-gradient(at top left, #eeffe6 50%, transparent, #fff);
}

#text2 {
  background: radial-gradient(at top right, #e6f8ff 50%, transparent, #fff);
}

#text3 {
  background: radial-gradient(at top left, #fff3f3 50%, transparent, #fff);
}

.extra-links {
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  padding: 0 0 20px 0;
  gap: 30px;
  margin: 50px var(--margin-inline) 0 var(--margin-inline);
  border-top: 1px solid #1f203a;
}

.extra-links a {
  color: var(--link-color);
  text-decoration: none;
  font-size: small;
  margin-top: auto;
}

.extra-links a:hover {
  color: #000;
  text-decoration: underline;
}

.extra-links div {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h4 {
  text-wrap: nowrap;
}

@media only screen and (max-width: 1090px) {
  .dropdown i {
    visibility: visible;
    color: #fff;
  }

  .drop-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #171728;
    width: 100vw;
  }

  .drop-links a {
    border-bottom: 1px solid #fff;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
  }

  .dropped {
    display: block;
  }

  .extra-info {
    margin: 90px 150px;
  }

  .row {
    position: relative;
    background-color: black;
  }

  .extra-info img {
    width: 100%;
    opacity: 0.4;
    z-index: 1;
  }

  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
  }

  #text1,
  #text2,
  #text3 {
    background: none;
  }

  strong {
    text-wrap: wrap;
  }

  .extra-links {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .extra-info {
    margin: 90px 30px;
  }
}
