/* font */
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body{
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    margin-inline: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.5rem;
    position: fixed;
    width: 100%;
    top: 20px;
    left: 0;
    height: 50px;
    padding: 0 10px;
    border: 1px solid black;
    box-shadow: rgba(57, 57, 57, 0.34) 2px 3px 5px;
    background: rgba(255, 255, 255, 0.559);
    backdrop-filter: blur(30px);
    z-index: 10;
}
.nav-icon{
    font-family: winky rough;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 6rem;
}
.nav-icon button{
    border: none;
    background: transparent;
    font-size: 1.7rem;
}
.form label{
    background: none;
    height: 1.8rem;
    width: 15rem;
    padding-inline: .5rem;
    display: flex;
    align-items: center;
    position: relative;
}
.input{
    border: none;
    background: none;
    font-size: 1em;
    margin-left: .5em;
}
.search-bg{
    width: 100%;
    height: 100%;
    background-color: #b2b0b0;
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 30px;
}
.input:focus ~ .search-bg{
   background-color: transparent;
   border: 1px solid black;
}
.input:focus{
    outline: none;
    color: #000;
}
.search-cancel{
    border: none;
    background: none;
    position: absolute;
    right: .5rem;
    opacity: 0;
    transition: .2s ease;
}
.input:valid ~ .search-cancel{
    opacity: 1;
}
.profile{
    border: none;
    background: none;
    font-size: 1.5rem;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.profile:hover{
    transform: scale(1.4);
}
.nav-btn{
    cursor: pointer;
    transition: .25s ease;
}
.nav-btn:hover{
    transform: scale(1.2);
}

#nav-menu{
    border-right: 1px solid black;
    display: flex;
    position: fixed;
    top: 0px;
    left: -200px;
    height: 100%;
    flex-direction: column;
    width: 200px;
    padding-bottom:5px;
    background: rgb(255, 255, 255);
    z-index: 101;
    transition: .3s;
    box-sizing: border-box;
}

.menu-item{
    padding: 10px 20px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    cursor:pointer;
    transition: .1s ease;
    text-decoration: none;
    color: #313131;
    font-size: .9em;
}
.menu-item i{
    width: 30px;
}
.menu-item:hover{
    background: linear-gradient(20deg, #000, #444444, #232323);
    color:white;
    > a{ color: white; }
}

main{
    margin-top: 30px;
    box-sizing: content-box;
    width: 1fr;
    padding-bottom: 20px;
}
main h3{
    text-align: center;
}
.recent-title{
    color:  #606060;
}
.recent-notes{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 20px;
    justify-content: center;
    width: 100%;
}
.notes{
    border: 2px solid #272525;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: #b9b9b992 0 5px 7px;
    border-radius: 20px;
    transition: .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.notes:hover{
    box-shadow: #3f3f3f92 0 5px 7px;
    transform: scale(1.1);
}
.preview{
    width: 90%;
    border-bottom: 1px solid black;
    text-align: center;
    height: 100px;
}
.create{
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 80px;
    height: 70px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(218, 216, 216, 0.459);
    backdrop-filter: blur(7px);
    z-index: 100;
    transition: .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    cursor: pointer;
}
.create:hover{
    transform: scale(1.2);
    margin-right: 10px;
}
